body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 25px;
}
*{
    box-sizing: border-box;
}
em{
    color: red;
}
#wrapper{
    margin: 0;
}
#nav-bar{
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    justify-content: flex-end;
    top: 0;
    background-color: #000080;
}
#nav-bar a{
    color: white;
    text-decoration: none;
    padding: 7px;
    margin: 8px;
}
#nav-bar a:hover{
    color: #008080;
}

#quotes{
    overflow:auto;
    background: url("https://wallpaperaccess.com/full/1761712.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 600px;
    text-align: center;
}
#quotes h2{
    margin: 200px 0;
    font-weight: 800;
}

/*About section*/
#about{
    color: #ffffff;
    text-align: center;
    background-color: aqua;
    line-height: 50px;
    font-weight: 800;
}
#about h2, h4{
    font-size: 60px;
    padding: 40px 0;
}
/*projects section*/
figure{
    text-align: center;
    border: 4px solid yellow;
    border-radius: 8px;
}
#projects-wrapper{
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#projects figure img{
    width: 500px;
    height: 500px;
}

/*contact section*/
#message-container{
    display:block;
    width:50%;
    margin:0 auto;
    font-size: 17px;
}
.form-control{
    border: none;
    border-bottom: 3px solid green;
    border-radius: 0;
}
#social-media-accounts{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
button{
    color: #ffffff;
    background-color: rgb(26, 188, 156);
    margin: 5px 0;
    font-size: 20px;
    padding: 20px 30px;
    border: 0.5px solid;
    border-radius: 8px;
}
/*Icons*/
#social-media-accounts{
    margin: 0;
    background-color: violet;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

/*responsive for phone*/
@media(max-width: 515px) {
    #about h2, h4{
        font-size: 45px;
    }

    #projects figure img{
        max-width: 100%;
        height: 200px;
    }

    #social-media-accounts{
        padding: 0;
    }
    button{
        padding: 10px 20px;
    }
    figure{
        border: none;
    }

}